@model IEnumerable<RaulCruz_PruebaProgreso1.Models.RC_Tabla1>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RCNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RCValor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RCFechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RCBoleano)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RCNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RCValor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RCFechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RCBoleano)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RCId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RCId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RCId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
